.my-form {
    padding: 20px;
    display: flex;
  }
  .full-width {
    padding: 20px;
    width: 40%;
  }
  
  .registerButton {
    color: white;
    display: flex;
    justify-content: space-evenly;
  }
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
  }
  
  button {
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    padding: 5px;
    background-color: black;
    color: white;
    border: 2px solid white;
    width: 70px;
    font-weight: bold;
  }
  mat-card {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
  }
  
  @media (max-width: 600px) {
    .nav-links {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
  