<div>
    <h1>Register Product</h1>
     <h3>Please add new Product Below</h3>
       <form [formGroup]="productListForm" (ngSubmit)="productList()">
         <div>
           <label for="category">Category</label>
           <select formControlName="category">
            <option value="electronics">Electronics</option>
            <option value="furniture">Furniture</option>
            <option value="books">Books</option>
           </select>
           <label for="productName">Product Name</label>
           <input formControlName="productName"  type="text">
           <label for="price">Price</label>
           <input formControlName="price"  type="number">
           <label for="category">Category</label>
           <select formControlName="tradeType">
            <option value="sell">Sell</option>
            <option value="rent">Rent</option>
           </select>
         </div>
         <button>Register</button>
       </form>
   </div>