<div class="cardContainer">
  <mat-card
    class="example-card"
    appearance="outlined"
    *ngFor="let obj of productList"
  >
    <mat-card-header>
      <mat-card-title>{{ obj.productName }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ obj.description }}</p>
    </mat-card-content>
    <mat-card-footer class="example-card-footer">
      <mat-chip-set aria-label="Chihuahua traits">
        <mat-chip>{{ obj.category }}</mat-chip>
        <mat-chip>Rs.{{ obj.price }}</mat-chip>
      </mat-chip-set>
      <mat-card-actions class="button-buy">
        <button mat-flat-button (click)="processRequestToBuy(obj.id)">
          BUY
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</div>
